@page "/"
@using MyTime.Web.Components.Views
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
@* for testing *@
<select @bind="userId">
    <option value=1>User 1</option>
    <option value=2>User 2</option>
</select>
<Punch UserId="@userId" />

@code {
    private int userId = 1;
}