@page "/"
@rendermode InteractiveServer
@using MyTime.Shifts.Contracts.Responses
@inject PunchApiClient PunchApi

<PageTitle>Home</PageTitle>

<button @onclick="Punch">Punch</button>

@if (createdPunch is not null)
{
    <div>Punched!</div>
}

@code {
    private PunchResponse? createdPunch;
    private async Task Punch()
    {
        createdPunch = await PunchApi.CreatePunchAsync();
    }
}