@page "/"
@rendermode InteractiveServer
@using MyTime.Shifts
@using MyTime.Shifts.Contracts.Requests
@using MyTime.Shifts.Contracts.Responses
@inject IPunchService PunchService

<PageTitle>Home</PageTitle>

<button @onclick="Punch">Punch</button>

@if (createdPunch is not null)
{
    <div>Punched!</div>
}

@code {
    private PunchResponse? createdPunch;
    private async Task Punch()
    {
        CreatePunchRequest request = new(1);
        createdPunch = await PunchService.CreatePunchAsync(request);
    }
}